* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: 100% 90%; /* You can adjust the values as needed */
    background-image: url('login_backgrnd1.jpg');
    text-decoration: bold;
}

.container {
    max-width: 700px;
    width: 100%;
    background: linear-gradient(120deg, rgb(252, 179, 179), rgb(249, 234, 234));
    background: #ebe4e4;

    padding: 25px 30px;
    border-radius: 10px;
    border: 2px solid #222121;
    text-decoration: bold;
}

.container .title {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    text-decoration: bold;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;

}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2-20px);

}

.title {
    text-align: center;
}

.user-details .input-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;

}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 18px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #ccc;

}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 600;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;

}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: rgb(14, 18, 14);
    background: rgb(143, 141, 141);
    /* background: rgb(18, 16, 16); */
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(243, 243, 245);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:  rgb(200, 65, 41);

}

form .button input:hover {
    background:  rgb(48, 160, 65);

}

@media(max-width: 584px) {


    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details ::-webkit-scrollbar {
        width: 0;
    }
}